<div class="blog_container" ng-controller="BlogCtrl">
  <section id="body_header" class="body_header">
    <div class="blog_header_space"></div>
    <div class="blog_title_box">
      <h1>My thoughts, My words</h1>
      <nav class="blog_nav_box">
        <ul class="blog_nav_box_list">
          <li ng-click="loadBlogs()" >Reading list </li> <li ng-click="loadTags()">Category </li>
        </ul>
      </nav>
    </div>
  </section>
  <div class="gap_space">
  </div>
  <div class="display_area">
    <section ng-hide="hide_blog"  class="article_block" ng-repeat="blog in blogs">
      <div ng-if ="blog.created_date!=null" class="article_border"></div>
      <h2 class="artical_time">{{blog.created_date}}</h2>
      <h2 class="artical_title"><a href="/blogs/{{blog.id}}">{{blog.title}}</a></h2>
      <a href="/blogs/{{blog.id}}"><article class="article_content"  ng-bind-html="blog.content"></article></a>
      <div>
        <span ng-repeat="tag in blog.tags" class="article_tag"><a href="/tags/{{tag.id}}">{{tag.name}}</a></span>
      </div>
    </section>
    <nav ng-hide="hide_tag" class="article_block">
      <ul id="tag_block">
        <li ng-click="goto(tag.id)" class="tag_item" ng-repeat="tag in tags">
          <div><img src="/images/tag/{{tag.img}}" alt="lang" class="circular tag_img" ></div>
          <div class="tag_text"><h3><a href="/tags/{{tag.id}}">{{tag.name}}</a></h3></div>
        </li>
        <div class="clear"></div>
      </ul>
    </nav>
  </div>
</div>
<%= render partial: "shared/footer" %>
<%= javascript_include_tag "blog_list", "data-turbolinks-track" => true %>
