<div id="work_page_1" class="work_body" ng-controller="WorkCtrl">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_1" class="body_content">
      <h1 class="work_title">{{lang.my_work_artical_title_1}}</h1>

      <p class="article_content">{{lang.my_work_artical_content_1}}
      </p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_2" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_2" class="body_content">
      <h2 class="work_title">{{lang.my_work_artical_title_2}}</h2>

      <p class="article_content">
        {{lang.my_work_artical_content_2_1}}
      </p>

      <p>

      <div style="text-align: center"><img src="/images/work/smileon1.jpg"></div>
      <div style="text-align: center">{{lang.my_work_artical_smileon_1}}</div>
      </p>
      <p class="article_content">
        {{lang.my_work_artical_content_2_2}}
      </p>

      <p>

      <div style="text-align: center"><img src="/images/work/smileon2.jpg"></div>
      <div style="text-align: center">{{lang.my_work_artical_smileon_2}}</div>
      </p>
      <p class="article_content">
        {{lang.my_work_artical_content_2_3}}
      </p>

      <p class="article_content">
        {{lang.my_work_artical_content_2_4}}
      </p>

      <p class="article_content">
        {{lang.my_work_artical_content_2_5}}
      </p>

      <p class="article_content">
        {{lang.my_work_artical_content_2_6}}
      </p>

      <p class="article_content">
        {{lang.my_work_artical_content_2_7}}
      </p>

      <p class="article_content">
        {{lang.my_work_artical_content_2_8}}
      </p>

      <p class="article_content">
        {{lang.my_work_artical_content_2_9}}
      </p>

    </section>
    <div class="clear"></div>
  </div>
</div>

<div id="work_page_3" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_3" class="body_content">
      <h2 class="work_title">{{lang.my_work_artical_title_3}}</h2>

      <p class="article_content">{{lang.my_work_artical_content_3_1}}</p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_4" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_4" class="body_content">
      <p class="article_content">{{lang.my_work_artical_content_3_2}}</p>
      <p class="article_content">{{lang.my_work_artical_content_3_3}}</p>
      <p class="article_content">{{lang.my_work_artical_content_3_4}}</p>
      <p class="article_content">{{lang.my_work_artical_content_3_5}}</p>
      <p>
        <div style="text-align: center"><img src="/images/work/zhanguo1.jpg"></div>
        <div style="text-align: center">{{lang.my_work_artical_zhanguo_1}}</div>
      </p>
      <p class="article_content">{{lang.my_work_artical_content_3_6}}</p>
      <p>
        <div style="text-align: center"><img src="/images/work/zhanguo2.jpg"></div>
        <div style="text-align: center">{{lang.my_work_artical_zhanguo_2}}</div>
      </p>
      <p class="article_content">{{lang.my_work_artical_content_3_7}}</p>
      <p class="article_content">{{lang.my_work_artical_content_3_8}}</p>
      <p class="article_content">{{lang.my_work_artical_content_3_9}}</p>
      <p class="article_content">{{lang.my_work_artical_content_3_10}}</p>
      <p class="article_content">{{lang.my_work_artical_content_3_11}}</p>

    </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_5" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_5" class="body_content">
      <h2 class="work_title">{{lang.my_work_artical_title_5}}</h2>

      <p class="article_content">{{lang.my_work_artical_content_5_1}}
      </p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_6" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_6" class="body_content">
      <p class="article_content">{{lang.my_work_artical_content_5_2}}</p>
      <p class="article_content">{{lang.my_work_artical_content_5_3}}</p>
      <p>
      <div style="text-align: center"><img src="/images/work/london2.jpg"></div>
      <div style="text-align: center">{{lang.my_work_artical_london_2}}</div>
      </p>
      <p class="article_content">{{lang.my_work_artical_content_5_4}}</p>
      <p>
        <div style="text-align: center"><img src="/images/work/london.jpg"></div>
      </p>
      <p class="article_content">{{lang.my_work_artical_content_5_5}}</p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<%= render partial: "shared/footer" %>