<div id="work_page_1" class="work_body" ng-controller="WorkCtrl">
  <div class="work_header_space">
  </div>
  <div>
      <section id="work_article_1" class="body_content">
        <h1 class="work_title" >What does Yi do?</h1>
        <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
          one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
          Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
        </p>
      </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_2" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_2" class="body_content">
      <h1 class="work_title" >{{lang.my_work_artical_title_2}}</h1>
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
      <h2 class="work_title" >{{lang.my_work_artical_title_2}}</h2>
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
    </section>
    <div class="clear"></div>
  </div>
</div>

<div id="work_page_3" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_3" class="body_content">
      <h2 class="work_title" >{{lang.my_work_artical_title_3}}</h2>
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_4" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_4" class="body_content">
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_5" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_5" class="body_content">
      <h2 class="work_title" >{{lang.my_work_artical_title_5}}</h2>
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<div id="work_page_6" class="work_body">
  <div class="work_header_space">
  </div>
  <div>
    <section id="work_article_6" class="body_content">
      <p class="article_content">Theodore Gray, co-founder of Wolfram Research, used a Macintosh to create the interface for Mathematica,
        one of the first computer programs to give scientists, mathematicians and engineers a powerful way to organise and make sense of their data. More than 25 years after its creation,
        Mathematica is still used for everything from enhancing search engines to improving flight safety to analysing global warming trends
      </p>
    </section>
    <div class="clear"></div>
  </div>
</div>
<%= render partial: "shared/footer" %>