<footer id="foot_area" class="work_body">
  <div class="work_header_space">
  </div>
  <div id="foot_area_box" class="body_content">
    <nav id="foot_menu">
      <ul id="foot_menu_item">
        <li id="my_blog" ng-click="redirect($event)" class="circular"><div class="footer_item_cover"><a href="/my_work"><img src="/images/home/my_work.jpg" alt="lang" class="circular" ></a></div></li>
        <li id="my_blog" ng-click="redirect($event)" class="circular"><div class="footer_item_cover"><a href="/my_blog"><img src="/images/home/my_blog.jpg" alt="lang" class="circular"></a></div></li>
        <!--<li id="my_game" ng-click="redirect($event)" class="circular"><div class=" footer_item_cover"><img src="/images/home/my_games.jpg" alt="lang" class="circular" title="language"></div></li>-->
        <!--<li id="my_interest" ng-click="redirect($event)" class="circular"><div class=" footer_item_cover"><img src="/images/home/my_interest.jpg" alt="lang" class="circular" title="language"></div></li>-->
        <li id="my_book" ng-click="redirect($event)" class="circular"><div class=" footer_item_cover"><a href="/my_book"><img src="/images/home/my_book.jpg" alt="lang" class="circular"></a></div></li>
        <li id="my_life" ng-click="redirect($event)" class="circular"><div class=" footer_item_cover"><a href="/gallery"><img src="/images/home/my_life.jpg" alt="lang" class="circular"></a></div></li>
        <div class="clear"></div>
      </ul>
    </nav>
    <div class="clear"></div>
  </div>
</footer>
