<div id="home_top_1" class="home_top_ " > </div>
<div id="top_page" ng-controller='HomeCtrl'>
<div class="home_top_box">
        <div id="home_title">
          <p>{{lang.home_welcome_slogan_1}}</p>
          <p style="font-size: 24px">{{lang.home_welcome_slogan_2}}</p>
        </div>
</div>
<!--<section class="home_bottom">-->
    <!--<article class="home_intro">-->
      <!--<p>-->
        <!--Hi, My name is He Yi, I am a software developer,this is my personal website, I've been thinking of Building a personal website for ages, finally started,-->
      <!--</p>-->
      <!--<p>-->
        <!--I will help you to know who I am here, I will share what I like, what I do, what I read, what I play and what I love here, hope you will like this website, and also like me in person-->

      <!--</p>-->
    <!--</article>-->
<!--</section>-->
<footer class="home_down">
    <div id='home_down_arrow' class="home_down_arrow">

    </div>
</footer>
</div>
<div  ng-controller='OptionCtrl' id="menu_area" class="menu_area">
    <div id='menu_list' class="menu_list">

      <div style="left: 10%" class="option_container">
        <div id='my_work' class="menu_list_item circular">
          <div oid='my_work' class="menu_list_item_cover circular"> </div>
        </div>
        <div id ="my_work_" class="menu_list_item_description circular"> {{lang.home_my_work}}</div>
      </div>
      <div style="left: 35%" class="option_container">
        <div id='my_blog' class="menu_list_item circular">
          <div oid='my_blog' class="menu_list_item_cover circular" > </div>
        </div>
        <div id ="my_blog_" class="menu_list_item_description circular">{{lang.home_my_blog}} </div>
      </div>
      <div style="left: 60%" class="option_container">
        <div id='my_book' class="menu_list_item circular">
          <div oid='my_book' class="menu_list_item_cover circular" > </div>
        </div>
        <div id ="my_book_" class="menu_list_item_description circular"> {{lang.home_my_book}}</div>
      </div>
      <div style="left: 85%" class="option_container">
        <div id='gallery' class="menu_list_item circular">
          <div oid='gallery' class="menu_list_item_cover circular" > </div>
        </div>
        <div id ="gallery_" class="menu_list_item_description circular">{{lang.home_gallery}} </div>
      </div>
    </div>
  <!--<div id="my_interest" class="menu_list_item">-->
  <!--<div class="menu_list_item_cover"></div>-->
  <!--</div>-->
    <div class="clear"></div>
</div>



