<div id='body' class="body welcome_bg">
<section class="welcome_box">
  <h1 class="welcome_content">
    Welcome to Yi's site
  </h1>
  <article class="entry_site">
    <div class="entry_block">
      <button id="enter" class="entry_button">ENTER</button>
    </div>
  </article>
</section>
</div>









