<div class="center_body" ng-controller='InterestCtrl'>
     <div class="interest_header">
       <div class="header_cover">
           <div class="interest_header_text">
            Everybody has hobbies, so do I, let me tell you what I am upto in spare time         :)
           </div>
       </div>
     </div>
    <div id="trading" class="interest_item" over-text="Trading">

    </div>
    <div id="gaming" class="interest_item" over-text="Computer Games">
    </div>


</div>