// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body{
  background: none;
}

.blog_container {

}
.body_header {
  width:100%   ;
  height:500px;
  background: url("/images/blog/title_bar.jpg") top center no-repeat;
  background-size: 100% auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.alticle_container{
  min-height: 100%;
}
.article_header {
  width:100%   ;
  height:800px;
  background: url("/images/blog/title_bar.jpg") top center no-repeat;
  background-size: 100% auto;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.blog_header_space{
  height: 70px;
  width: 100%;
}

.blog_title_box{
  height: 100px;
  width: 60%;
  min-width: 600px;
  margin-right: auto;
  margin-left:  auto;
  text-align: center;
  color: #FFFFFF;
  h1{
    font-size: 3.5em;
    font-weight: 100;
  }
}

.blog_nav_box{
  width: 600px;
  height: 50px;
  margin-top: 250px;
  position: relative;
  margin-right: auto;
  margin-left:  auto;
  bottom: 0px;
  text-align: center;
}

.blog_nav_box_list {
  opacity: 1;
  white-space: nowrap;
  overflow: visible;
  li{
    border-top: 2px solid rgba(255,255,255,0.7);
    display: inline-block;
    width: 299px;
    vertical-align: middle;
    line-height: 50px;
    font-size: 1.5em;
    font-weight:bold;
    margin: 0px;
    cursor: pointer;
    background: rgba(0,0,0,0.3);

  }

  li:hover{
    border-top: 2px solid rgba(255,255,255,1);
    background: rgba(255,255,255,0.1);
    color: #000000;
  }
}

.display_area {

  width: 800px;
  margin-right: auto;
  margin-left:  auto;
  height: inherit;
}

.display_area_wraper{
  width: 800px;

}


.vote_box{
  position: absolute;
  top:50px;
  right: -70px;
  width: 56px;
}
.vote_box_button{
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  color: #57ad68;
  border: 1px solid #57ad68;
  cursor: pointer;

}

.vote_box_button:hover{
  background-color: #57ad68;
  color: #FFFFFF;
}

.like_count{
  color: #57ad68;
  width: 100%;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
}

.article_block{
  padding-top: 0px;
  padding-bottom: 30px;
  margin-bottom: 0px;
}

.article_border{
  border-bottom: 1px solid rgba(0,0,0,0.2);;
}


.article_content{
  font-family: "TitilliumText22L-Light",'微软雅黑';
  font-size: 1.5em;
  font-weight: 100;
  margin-bottom: 10px;
  p{
    display: table;
    line-height: 1.5;
  }

}

.back_button{
  background-color: rgba(0,0,0,0.7);
  height: 70px;
  width:  70px;
  background-size: 100% 100%;
  position: fixed;
  left: 20px;
  top: 70px;
  cursor: pointer;
  z-index: 100;
  img{
    width: 70px;
    height: 70px;
  }

}
.back_button:hover{
  background-color: rgba(0,0,0,0.4);

}

.article_body{
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #A5A8AB;
  h2{
    font-size: 2.5em;
    font-weight: 600;
  }
}

.comment_area{
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #efefef;
  color: #A5A8AB;
}

.comment_item{
  font-family: "TitilliumText22L-Regular",'微软雅黑';
  border-bottom: 1px solid #A5A8AB;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 25px;
}

.comment_title{
  color: #A5A8AB;
  float: left;
  font-weight: bolder;
  line-height: 40px;
  margin: 0px;
}

.comment_input{
  border: 1px solid #A5A8AB;
  margin-bottom: 30px;
}

#comment_input{
  margin: 0px 0px 0px 0px;
  border: 0px;
  height:30px;
  vertical-align: middle;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed;
  line-height: 30px;
  width:550px;
  font-size: 16px;
  color: #696969;
}

#name_input{
  margin: 0px 0px 0px 30px;
  width: 100px;
  border: 0px;
  border-right:1px solid #A5A8AB;
  height:30px;
  vertical-align: middle;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: left;
  direction: ltr;
  unicode-bidi: embed;
  line-height: 30px;
  width:100px;
  font-size: 16px;
  color: #696969;
}

.article_tag_area{
  margin-top: 50px;
  position: relative;
  display: block;
  bottom: 0px;
}

.tag_img{
  width:200px;
  height: 200px;

}

.tag_img:hover{
  opacity: 0.8;
}

.tag_text{
  text-align: center;
  width: 100%;
  height: 30px;
  font-weight: inherit;
}
.tag_item {
  display: inline-block;
  margin: 25px;
  cursor: pointer;
  padding: 5px;
}

.tag_item:hover{
  font-weight: bolder;
  background-color: rgba(0,0,0,0.2);
}

#tag_block{
  text-align: center;
}

.article_header_space{
  height: 350px;
  width: 100%;
}

.artical_time{
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 2.5em;
  font-weight: 600;
}
.artical_title{
  font-size: 1.7em;
  font-weight: 600;
}
