// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  position: absolute;
  width: 100%;
  height: 100%;
}

.home_container{
}

.welcome_bg{
  background: url("/images/welcome/home_bg.jpg")    no-repeat;
  background-size: 100% 100%;
}

.welcome_content{
  text-shadow: 0 -2px 2px rgba(0,0,0,0.6);
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
}

.welcome_box{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  width: 400px;
}

.entry_site{

}

.entry_block{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.entry_button{
  background-color: #2badf3;
  background-image: linear-gradient(#2badf3, #2492db);
  box-shadow: 2px -2px 2px rgba(0,0,0,0.6);
  border: 1px solid #1E6EAB;
  color: #FFFFFF;
  padding:5px 30px 5px 30px;
  font-size: 26px;
  border-radius: 3px;
  font-weight:bold;
  cursor: pointer;
}

.entry_button:hover{
  background-image: linear-gradient(#37b1ff, #249de6);
  background-color: #2bb7fd;
}

.entry_button:active{
  background-image: linear-gradient(#249de6, #37b1ff);
  background-color: #2bb7fd;
}

.home_top_box{
  position: relative;
  width: 100%;
  max-height:600px;
  min-height: 400px;
  height: 50%;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.6);;
}

.home_top_{
  width: 100%;
  height: 100%;
  position: absolute;
}

.home_bottom{
  position: absolute;
  width: 100%;
  padding-top: 50px;
}

#home_top_1{
  background: url("/images/home/home_1.jpg") center no-repeat;
}

#home_title_1{
  position: absolute;
  margin-top: 100px;
  margin-left: 10%;
  font-size: 40px;
  width: 400px;
  background: #000000;
  color: #FFFFFF;
  display: inline-block;
  width: auto;
}
#home_title_2{
  position: absolute;
  margin-top: 200px;
  margin-left: 10%;
  font-size: 30px;
  max-width: 800px;
  width: auto;
  background: #000000;
  color: #FFFFFF;
  display: inline-block;
}

.home_intro{
  position:relative;
  display: block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-size: 26px;
  min-height:250px ;
  color: rgba(0, 0, 0, 0.69);
  text-shadow: 1px -1px 2px rgba(0,0,0,0.6);
}

.home_down{
  position: absolute;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,0.8);
  bottom: 0px;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.7);
}

.home_down_arrow{
  width: 117px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: url("/icon/down_arrow.png") no-repeat;
  background-position: 0px 15px;
  cursor: pointer;
}

.home_down_arrow:hover{
  background-position: -117px 15px;
  background-color:rgba(255,255,255,0.8);
}

#menu_area{
  background: url("/images/home/menu_bg.jpg")  bottom  no-repeat;
  background-size: 100% 100%;
}

.menu_area{
  padding: 0px;
  margin: 0px;
  position: absolute;
  top:100%;
  width: 100%;
  height: 100%;
}

.menu_list{
  margin:0px;
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
  list-style-type: none;
  padding: 0px;
  overflow: auto;
  white-space: nowrap;
}

.menu_list_item{
  margin: 0px;
  padding:0px;
  margin-top: 5%;
  display:inline-block;
  width: 20%;
  height:80%;
  border-right: 1px solid #FFFFFF;
}

.menu_list_item_cover{
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 200;
  background-color:rgba(0,0,0,0.3);
}


.menu_list_item_cover:hover{
  background-color:rgba(255,255,255,0.1);
}

#my_work{
  background: url("/images/home/my_work.jpg") no-repeat;
  background-size: auto 100%;
  background-position: 40% 0px;

}

#my_blog{
  background: url("/images/home/my_blog.jpg") no-repeat;
  background-size: auto 100%;
  background-position: -80px 0px;

}

#my_games{
  background: url("/images/home/my_games.jpg") no-repeat;
  background-size: auto 100%;
  background-position: 45% 0px;
}

#my_interest{
  background: url("/images/home/my_interest.jpg")  no-repeat;
  background-size: auto 100% ;
}

#my_book {
  background: url("/images/home/my_book.jpg") no-repeat;
  background-size: auto 100%;
}

#gallery {
  background: url("/images/home/my_life.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.gap_space{
  height: 50px;
  width: 100%;
}
