// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.body{
  position: absolute;
  width: 100%;
  height: 100%;
}

.home_container{
}

.welcome_bg{
  background: url("/images/welcome/home_bg.jpg")    no-repeat;
  background-size: 100% 100%;
}

.welcome_content{
  text-shadow: 0 -2px 2px rgba(0,0,0,0.6);
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
}

.welcome_box{
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  width: 400px;
}

#html_container{
  //overflow-y: hidden;
}
.entry_block{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.entry_button{
  background-color: #2badf3;
  background-image: linear-gradient(#2badf3, #2492db);
  box-shadow: 2px -2px 2px rgba(0,0,0,0.6);
  border: 1px solid #1E6EAB;
  color: #FFFFFF;
  padding:5px 30px 5px 30px;
  font-size: 26px;
  border-radius: 3px;
  font-weight:bold;
  cursor: pointer;
}

.entry_button:hover{
  background-image: linear-gradient(#37b1ff, #249de6);
  background-color: #2bb7fd;
}

.entry_button:active{
  background-image: linear-gradient(#249de6, #37b1ff);
  background-color: #2bb7fd;
}

#top_page{
  height: 100%;
  width: 100%;

  z-index: 200;
}

.home_top_box{
  position: relative;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.4);
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  line-height: 90%;
  vertical-align: middle;
  //box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.6);;
}
.home_top_box:before,.menu_area:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */

  /* For visualization
  background: #808080; width: 5px;
  */
}
.home_top_{
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}

.home_bottom{
  position: absolute;
  width: 100%;
  padding-top: 50px;
}

#home_top_1{
  background: url("/images/home/home_1.jpg") center no-repeat;
}

#home_title{

  font-size: 60px;
  padding-top:15%;
  //background: #000000;
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
}


.home_intro{
  position:relative;
  display: block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-size: 26px;
  min-height:250px ;
  color: rgba(0, 0, 0, 0.69);
  text-shadow: 1px -1px 2px rgba(0,0,0,0.6);
}

.home_down{
  position: absolute;
  width: 100%;
  height: 100px;
  //background: rgba(0,0,0,0.8);
  bottom: 0px;
  //box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.7);
}

.home_down_arrow{
  width: 117px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: url("/icon/down_arrow.png") no-repeat;
  background-position: 0px 15px;
  cursor: pointer;
}

.home_down_arrow:hover{
  background-position: -117px 15px;
  background-color:rgba(255,255,255,0.8);
}

.menu_area{
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  font-size: 40px;
  line-height: 90%;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
  background-color:  rgba(0, 0, 0, 0.8);
  top:100%;
}

.menu_list{
  display: inline-block;
  text-align: center;
  margin:0px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  position: relative;
  padding: 0px;
  white-space: nowrap;
}

.option_container{
  margin: 0px;
  padding:0px;
  display:inline-block;
  width:25%;
}



.menu_list_item{
  border: 2px solid #FFFFFF;
  width: 130px;
  height:130px;
  margin-right: auto;
  margin-left: auto;
}

.menu_list_item_description{
  padding: 2px;
  color: #FFFFFF;
  text-align: center;
  font-size: 26px;
  display: block;
  border: 0px;
  width: 130px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.menu_list_item_cover{
  position: relative;
  cursor: pointer;
  height:130px;
  width: 130px;
  z-index: 200;
  border: 0px ;
  background-color:rgba(0,0,0,0.3);
}


.menu_list_item_cover:hover{
  margin: 0;
  padding: 0;
  background-color:rgba(255,255,255,0.1);
}

#my_work{
  background: url("/images/home/my_work.jpg") no-repeat;
  background-size: 100% auto ;
  background-position: center;
}

#my_blog{
  background: url("/images/home/my_blog.jpg") no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#my_games{
  background: url("/images/home/my_games.jpg") no-repeat;
  background-size: auto 100%;
  background-position: 45% 0px;
}

#my_interest{
  background: url("/images/home/my_interest.jpg")  no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#my_book {
  background: url("/images/home/my_book.jpg") no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#gallery {
  background: url("/images/home/my_life.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.gap_space{
  height: 50px;
  width: 100%;
}

.option_item{
  display:inline-block;
  width:200px;
  height:200px;
  margin: 0px;
  padding:0px;
  margin-top: 5%;
}


